<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Llamamos a nuestra carpeta de estilos-->
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<!--Llamamos a nuestra función para iniciar nuestro juego-->

<body onload="startGame()">
    <!--Insertamos un titulo a nuestra page-->
    <br>
    <center>
        <h1>Block Hopper</h1>
        <h3>By:Steveen Sinchiguano Moreira</h3>
    </center>

    <!--Llamamos a nuestro script donde se encuentran las funciones para poder ejecutar nuestro aplicativo-->
    <script src="./static/js/script.js"></script>
</body>

</html>